.c-card {
  padding: 1.6rem 5% 0 5%;
  max-width: 65rem;
  margin: 5rem auto 0 auto;
  &__img-cont {
    // text-align: center;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
  }
  &__name {
    margin: 1.2rem 0 1rem 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  &__price {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2.4rem;
  }
  &__description {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #787885;
  }
  &__edit-cont {
    // @media (min-width: 481px) {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    // }

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  &__stars-cont {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__stars {
    margin-left: 1rem;
  }
  &__btns-cont {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__edit-btn {
    color: var(--color-blue);
    border: 1px solid #9dc2ff;
    background-color: var(--color-white);
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #9dc2ff;
      color: #ffffff;
    }
  }
  &__del-btn {
    color: #ff6666;
    border: 1px solid #ff6666;
    background-color: var(--color-white);
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #ff6666;
      color: #ffffff;
    }
  }
}
