<figure class="c-card">
  <div class="c-card__img-cont">
    <img src="{{ data.image }}" alt="Imagen del producto" class="c-card__img" />
  </div>
  <figcaption class="c-card__name">
    {{ data.name | asterisks: data.price }}
  </figcaption>
  <p class="c-card__price">${{ data.price }}</p>
  <p class="c-card__description">{{ data.description }}</p>
  <div class="c-card__edit-cont">
    <div class="c-card__stars-cont">
      <!-- Open STARS -->

      <ngb-rating [rate]="data.stars" [max]="5" [readonly]="true">
        <ng-template let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#9733;</span
            >&#9733;</span
          >
        </ng-template>
      </ngb-rating>
      <!-- End STARS -->

      <p class="c-card__stars">{{ data.stars }}</p>
    </div>
    <div *ngIf="edit" class="c-card__btns-cont">
      <button (click)="navToManagement(data)" class="c-card__edit-btn">
        Editar
      </button>
      <button (click)="deleteProduct(data.id)" class="c-card__del-btn">
        Borrar
      </button>
    </div>
  </div>
</figure>
