<div class="row">
  <ng-container *ngIf="gridView === true; else elseBlock">
    <app-card
      *ngFor="let item of list"
      [data]="item"
      (productIdEmitter)="idEmitter.emit($event)"
      class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5"
    ></app-card>
  </ng-container>
  <ng-template #elseBlock>
    <app-card
      *ngFor="let item of list"
      [data]="item"
      (productIdEmitter)="idEmitter.emit($event)"
      class="col-12"
    ></app-card>
  </ng-template>
</div>

<!-- (productIdEmitter)="deleteFromLocal($event)" -->
