.c-home {
  min-height: calc(100vh - 45.2rem); //45.2rem = header height + footer height
  //   @include tablet {
  //     background-color: var(--color-gray-40);
  //   }
  @media (min-width: 481px) {
    background-color: var(--color-gray-40);
    padding: 8rem 5%;
  }

  @media (min-width: 769px) {
    padding: 8rem 10%;
  }

  &__main {
    padding: 0 3rem 8rem 3rem;
    margin: 0 auto;
    // padding: 0 3rem 8rem 3rem;

    @media (min-width: 481px) {
      background-color: var(--color-white);
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: 769px) {
      max-width: 120rem;
    }
  }
  &__title {
    font-size: 2.4rem;
    text-align: center;
    padding: 5.4rem 0;
    // margin: 5.4rem 0;
  }
  &__italic {
    font-style: italic;
  }
  &__header {
    margin: 2rem 0;
  }
}
