.c-products {
  min-height: calc(100vh - 45.2rem); //45.2rem = header height + footer height

  @media (min-width: 481px) {
    background-color: var(--color-gray-40);
    padding: 8rem 5%;
  }

  @media (min-width: 769px) {
    padding: 8rem 10%;
  }
  &__cont {
    padding: 4rem 5.9rem 7.2rem 5.9rem;
    margin: 0 auto;
    // padding: 0 3rem 8rem 3rem;

    @media (min-width: 481px) {
      background-color: var(--color-white);
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: 769px) {
      max-width: 120rem;
    }
  }
  &__title-btns-cont {
    // padding-top: 4rem;

    @media (min-width: 769px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    font-size: 2.4rem;
  }
  &__btns-cont {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }
  &__btn-list {
    padding: 1.1rem 2.5rem;
    cursor: pointer;
    color: #787885;
    background-color: #ededed;
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    outline: none;

    &--selected {
      color: #444444;
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    }
  }
  &__btn-grid {
    padding: 1.1rem 2.5rem;
    cursor: pointer;
    color: #787885;
    background-color: #ededed;
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    outline: none;

    &--selected {
      color: #444444;
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    }
  }
  &__search-cont {
    display: flex;
    justify-content: flex-end;
  }
  &__search {
    padding: 1.2rem;
    font-size: 1.4rem;
    border: 1px solid #444444;
    border-radius: 4px;
    outline: none;
  }
}
