<div class="c-products">
  <div class="c-products__cont">
    <div class="c-products__title-btns-cont">
      <h2 class="c-products__title">
        Listado de Productos ({{ numOfProducts }})
      </h2>
      <div class="c-products__btns-cont">
        <!-- <div class="c-products__btns-cont-flex"> -->
        <button
          (click)="showList()"
          class="c-products__btn-list"
          data-function="btn-list"
        >
          <fa-icon [icon]="faList"></fa-icon>
        </button>
        <button
          (click)="showGrid()"
          class="c-products__btn-grid c-products__btn-grid--selected"
          data-function="btn-grid"
        >
          <fa-icon [icon]="faThLarge"></fa-icon>
        </button>
        <!-- </div> -->
      </div>
    </div>
    <div class="c-products__search-cont">
      <input
        (keyup.enter)="searchProduct($event)"
        type="text"
        placeholder="Buscador"
        class="c-products__search"
      />
    </div>
    <app-gallery
      [list]="products"
      [gridView]="grid"
      (idEmitter)="deleteFromLocal($event)"
    ></app-gallery>
  </div>
</div>
