<header class="c-header">
  <div>
    <div class="c-header__cont-title">
      <div class="c-header__cont-logo">
        <p class="c-header__logo">S</p>
      </div>
      <p class="c-header__title">Shopéame!</p>
    </div>
  </div>
  <div>
    <nav class="c-header__nav">
      <ul class="c-header__ul">
        <li>
          <a
            class="c-header__link"
            routerLink=""
            routerLinkActive="c-header__link--active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="unsetEditableProduct()"
          >
            <fa-icon class="c-header__icon" [icon]="faRadiation"></fa-icon>
            <p class="c-header__link-text">Home</p>
          </a>
        </li>
        <li>
          <a
            class="c-header__link"
            routerLink="products"
            routerLinkActive="c-header__link--active"
            (click)="unsetEditableProduct()"
          >
            <fa-icon class="c-header__icon" [icon]="faBinoculars"></fa-icon>
            <p class="c-header__link-text">Prods.</p>
          </a>
        </li>
        <li>
          <a
            class="c-header__link"
            routerLink="management"
            routerLinkActive="c-header__link--active"
            (click)="unsetEditableProduct()"
          >
            <fa-icon class="c-header__icon" [icon]="faDharmachakra"></fa-icon>
            <p class="c-header__link-text">Gestión</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
