.c-header {
  // TOTAL HEIGHT: 17.2rem
  &__cont-title {
    // margin: 0.6rem 0;
    // height: 8.8rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-RedHatDisplay);
  }
  &__cont-logo {
    margin-right: 1.2rem;
    width: 4rem;
    height: 4rem;
    background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    font-size: 3.2rem;
    font-weight: bold;
    color: #ffffff;
  }
  &__title {
    font-size: 3.6rem;
    color: var(--color-dark-blue);
  }
  &__nav {
    background-color: var(--color-cream);
  }
  &__ul {
    height: 7.2rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    text-decoration: none;
    color: #444444;
    border-radius: 10px;
    //
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    //
    height: 5.6rem;
    margin: 0.8rem 0;
    &--active {
      color: var(--color-blue);
      background-color: var(--color-background-transparent);
    }
  }
  &__icon {
    font-size: 2rem;
  }
  &__link-text {
    font-size: 1.4rem;
  }
}
