@mixin tablet {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}
