:root {
  --color-cream: #ffc970;
  --color-dark-cream: #f89f21;
  --color-background-transparent: rgba(235, 242, 255, 0.3);
  --color-blue: #00579f;
  --color-dark-blue: #0c2146;
  --color-gray-40: #cccccc;
  --color-white: #ffffff;
}
