:root {
  --font-family-RedHatDisplay: RedHatDisplay;
  --font-family-Inter: Inter;
}

@font-face {
  font-family: RedHatDisplay;
  src: url("/assets/fonts/RedHatDisplay-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: RedHatDisplay;
  src: url("/assets/fonts/RedHatDisplay-Black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-Light.ttf");
  font-weight: light;
}
