<footer class="c-footer">
  <div class="c-footer__general-cont">
    <div class="c-footer__follow-us-cont">
      <p>Síguenos en:</p>
      <!-- </div>
    <div class="c-footer__nav-cont"> -->
      <nav class="c-footer__nav">
        <a href="#" class="c-footer__link">Twitter</a>
        <a href="#" class="c-footer__link">Facebook</a>
        <a href="#" class="c-footer__link">Instagram</a>
        <a href="#" class="c-footer__link">TikTok</a>
      </nav>
    </div>
    <div class="c-footer__cpyrght-cont">
      <p>Copyright Shopéame &copy; {{ currentYear }}</p>
    </div>
  </div>
</footer>
