.c-footer {
  // TOTAL HEIGTH: 28rem
  height: 28rem;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__general-cont {
    height: 16.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
  }
  &__follow-us-cont {
    text-align: center;
  }
  &__nav {
    margin-top: 3rem;
  }
  &__link {
    color: var(--color-white);
    text-decoration: none;
    padding: 0 1.5rem;
    border-right: 1px solid var(--color-white);

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border: none;
    }
  }
  //   &__nav-cont {
  //     margin-top: 3rem;
  //   }
  &__cpyrght-cont {
    // margin-top: 4rem;
  }
}
