<div class="c-management">
  <div class="c-management__cont">
    <h2 class="c-management__title">Creación/edición de productos</h2>
    <div class="c-management__general-cont">
      <form
        [formGroup]="addProductForm"
        (ngSubmit)="addProduct()"
        class="c-management__form"
      >
        <!-- NAME -->

        <div class="c-management__input-cont">
          <label for="name">Nombre del producto: </label>
          <input
            id="name"
            type="text"
            formControlName="name"
            autocomplete="off"
            class="c-management__input"
          />
        </div>

        <p
          *ngIf="submitted && !addProductForm.get('name').valid"
          class="c-management__alert"
        >
          Se requiere un nombre de producto, entre 5 y 20 carácteres*
        </p>

        <!-- PRICE -->

        <div class="c-management__input-cont">
          <label for="price">Precio: </label>
          <input
            id="price"
            type="number"
            formControlName="price"
            autocomplete="off"
            step=".01"
            class="c-management__input"
            value="4"
          />
        </div>

        <p
          *ngIf="submitted && !addProductForm.get('price').valid"
          class="c-management__alert"
        >
          Se requiere un precio mínimo de 1$ y máximo de 999.999$ (máximo 2
          decimales)*
        </p>

        <!-- DESCRIPTION -->

        <div class="c-management__input-cont">
          <label for="description">Descripción: </label>
          <input
            id="description"
            type="text"
            formControlName="description"
            autocomplete="off"
            class="c-management__input"
          />
        </div>

        <p
          *ngIf="submitted && !addProductForm.get('description').valid"
          class="c-management__alert"
        >
          Se requiere una descripción del producto, entre 10 y 50 carácteres*
        </p>

        <!-- IMG -->

        <div class="c-management__input-cont">
          <label for="image">Imagen: </label>
          <input
            type="file"
            accept="image/x-png,image/gif,image/jpeg"
            id="image"
            formControlName="image"
            (change)="preview($event)"
            autocomplete="off"
            class="c-management__input-img"
          />
        </div>

        <p
          *ngIf="submitted && !addProductForm.get('image').valid"
          class="c-management__alert"
        >
          Se requiere un fichero de tipo imagen del producto*
        </p>

        <!-- SCORE -->

        <div class="c-management__input-cont">
          <label for="stars">Puntuación: </label>
          <input
            id="stars"
            type="text"
            formControlName="stars"
            autocomplete="off"
            class="c-management__input"
          />
        </div>

        <p
          *ngIf="submitted && !addProductForm.get('stars').valid"
          class="c-management__alert"
        >
          Se requiere una puntuación comprendida entre 0 y 5 (máximo 2
          decimales)*
        </p>

        <!-- SUBMIT -->

        <ng-container *ngIf="!formIsValid">
          <div class="c-management__submit-cont">
            <button class="c-management__submit">
              {{ productToEdit !== "" ? "Actualizar" : "Guardar" }}
            </button>
          </div>
        </ng-container>

        <!-- SUCCESS MESSAGE -->

        <div *ngIf="formIsValid" class="c-management__success-cont">
          <p class="c-management__success">
            {{
              productToEdit !== ""
                ? "El producto se ha actualizado exitosamente!"
                : "El producto se ha añadido exitosamente!"
            }}
          </p>
        </div>
      </form>
      <div class="c-management__preview-cont">
        <p>Preview del producto:</p>
        <app-card [data]="item ? item : ''" [edit]="false"></app-card>
      </div>
    </div>
  </div>
</div>
