.c-management {
  min-height: calc(100vh - 45.2rem); //45.2rem = header height + footer height

  @media (min-width: 481px) {
    background-color: var(--color-gray-40);
    padding: 8rem 5%;
  }

  @media (min-width: 769px) {
    padding: 8rem 10%;
  }
  &__cont {
    padding: 4rem 5.9rem 7.2rem 5.9rem;
    margin: 0 auto;
    // padding: 0 3rem 8rem 3rem;

    @media (min-width: 481px) {
      background-color: var(--color-white);
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: 769px) {
      max-width: 120rem;
    }
  }
  &__title {
    font-size: 2.4rem;
  }
  &__general-cont {
    margin-top: 6.3rem;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      // align-items: center;
    }
  }
  &__form {
    @media (min-width: 1024px) {
      width: 50%;
      padding-right: 5%;
      border-right: 1px solid var(--color-dark-cream);
    }
  }
  &__input-cont {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
  }
  &__input {
    margin-top: 1.2rem;
    padding: 0.6rem 1.2rem;
    border: 1px solid #444444;
    border-radius: 4px;
    outline: none;
  }
  &__alert {
    margin-top: 1rem;
    color: red;
  }
  &__input-img {
    margin-top: 1.2rem;
  }
  &__submit-cont {
    margin-top: 1.4rem;
    display: flex;
    justify-content: flex-end;
  }
  &__submit {
    width: 15rem;
    height: 3.2rem;
    color: #ffffff;
    background-color: var(--color-dark-cream);
    border: 1px solid #f89f21;
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #fbc983;
    }
  }
  &__success-cont {
    margin-top: 2rem;
    padding: 1rem;
    background-color: rgba(223 247 253 / 80%);
    border-radius: 5px;
  }
  &__success {
    color: #77d816;
    font-size: 1.6rem;
  }
  &__preview-cont {
    margin-top: 5rem;

    @media (min-width: 1024px) {
      margin-top: 2.2rem;
      width: 45%;
    }
  }
}
